<!--  Created by JQLMT on 2015/11/24.导航栏  -->
<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home_page">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="审批中心" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/process_center">
    <ion-nav-view name="process-center-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting"/>
  <ion-nav-view name="setting-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>

