<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.moblieoaforjq819307" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>掌上江泉</name>
  <description>
    华盛江泉集团
  </description>
  <author email="liumt@hsjq.com" href="http://www.liumaotong.cn/">
    华盛江泉集团信息中心
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="res/android/icon.png" density="xxhdpi"/>
    <splash src="res/android/splash.png"/>
  </platform>
  <platform name="ios">
    <icon src="res/ios/icon.png" density="xxhdpi"/>
    <splash src="res/android/splash.png"/>
  </platform>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="2000"/>
</widget>
